#idea
/.idea

# dependencies
/node_modules

# production
/dist
*.tsbuildinfo

# testing
/config.json
/midscene_run
/cache
/test-result

.env


# Midscene.js dump files
midscene_run/dump
midscene_run/report
midscene_run/tmp
midscene_run/log
